.sidebar
  background: #f5f6f7
  border-right: 1px solid #eceff4

.site-author-name
  font-size: 2rem
  font-weight: 700

.site-description
  color: #697586
  font-size: 1rem
  line-height: 1.8

.post-title
  font-weight: 700

.menu .menu-item a
  font-weight: 600

.main-inner
  max-width: 1200px

@media (max-width: 767px)
  .sidebar
    border-right: none
